[submodule "package/zsh.d"]
	path = package/zsh.d
	url = https://github.com/MaxMEllon/zsh.d.git
[submodule "plugin/z"]
	path = plugin/z
	url = https://github.com/rupa/z.git
[submodule "plugin/zsh-completions"]
	path = plugin/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "plugin/zsh-syntax-highlighting"]
	path = plugin/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
